.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__img {
	width: 100px;
	height: 93px;
}

.logo__name {
    padding-top: 5px;
}

.logo__title,
.logo__description {
  width: 222px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo__title {
  color: #113b5f;
  font-family: "Bebas Neue Bold";
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}

.logo__description {
  color: #201600;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    width: 200px;
    margin: 0 auto;
}