.main-nav {
  margin-bottom: 15px;
  margin-left: 60px;
  text-align: center;
}

@media (max-width: @mobile-width) {
  .main-nav {
    display: none;
    width: 100%;
    margin: auto;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav--closed {
    display: none;
  }
}
