.site-list {
	.reset-list();
	display: flex;
}

.site-list__link {
	text-decoration: none;
	color: #113b5f;
font-family: "Proxima Nova";
font-size: 15px;
font-weight: 300;
text-decoration: underline;
}